* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1b1b32;
  color: #fff;
}

.container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.container h1 {
  font-size: 52px;
}

.sub-container {
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  font-size: 22px;
  width: 500px;
  height: 300px;
}

.sub-container input {
  width: 60%;
  height: 50px;
  font-size: 22px;
  text-align: center;
}

.sub-container button {
  width: 60%;
  height: 50px;
  font-size: 28px;
  background-color: yellowgreen;
  border: none;
  cursor: pointer;
}

.sub-container button:hover {
  background-color: rgba(153, 205, 50, 0.781);
}

footer {
  color: #fff;
  text-align: center;
}
